<<<<<<< HEAD
body{
    background-color: darkkhaki;
    font-weight: bold;
    color: darkred;
}
=======
body{
    background-color: darkkhaki;
    font-weight: bold;
    color: darkred;
    font-size:18px;
}
>>>>>>> 3c86f71e13218c17e0d96d45dbe90e2d38bdb816
